Environment/*
!Environment/git.keeper

.vscode

Documentos/*
!Documentos/git.keeper
!Documentos/Mapeamento das Fontes de Dados
!Documentos/DOCS DW.txt
!Documentos/CADASTRO.xlsx
!Documentos/Governança de Dados
