Environment/*
!Environment/git.keeper

Documentos/Demais Documentos do Projeto/Mapeamento - Geral - ODBC.xlsx
Documentos/Demais Documentos do Projeto/Assessment - MAPEAMENTO TABELAS DW.xlsx

!Documentos/git.keeper
!Documentos/Mapeamento das Fontes de Dados
!Documentos/DOCS DW.txt
!Documentos/CADASTRO.xlsx
!Documentos/Governança de Dados

Pipeline/DOCKER/*
!Pipeline/DOCKER/.gitkeeper
